@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$primary-color: #3e6f9e;

body {
  font-family: $font;
}

.desc{
    position: absolute;
    background: #000;
    color: #ddd;
    bottom: 0;
    left: 0;
    width: 90%;
    max-width: 800px;
    text-align: justify;
    padding: 10px;
    font-size: 10pt;
    span{
        display: block;
        margin-top: 10px;
    }
}
